.form-group { margin-bottom: 0.5rem;
  &__label { display: block;
    &--heart { cursor: pointer; padding: 0.5rem;
      &:hover { color: pink; }
    }
  }
  &__heart-list { list-style: none outside; margin: 0; padding: 0;
    &--full {
      .form-group__heart { color: gold; }
    }
  }
  &__heart { float: left;
    &--selected {
      color: red;
    }
  }
  &__heart-input { opacity: 0; height: 1px; width: 1px; margin: 0; padding: 0; position: absolute; }
}
